*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black-color: #322c2b;
    --pink-color: #fb557c;
    --white-color: #fff;
    --gutter-huge: 8rem;
    --gutter-large: 6rem;
    --gutter-medium: 5rem;
    --fs-huge: 5rem;
    --fs-x-large: 4.2rem;
    --fs-large: 3rem;
    --fs-medium: 2.5rem;
    --fs-small: 1.8rem;
    --fs-x-small: 1.3rem;
}
main {
    min-height: 60vh;
}
button.btn-primary {
    background-color: rgb(0, 179, 255);
    color: black;
}
.blog-post,
.latest-blog,
.categories,
.form {
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--fs-small);
    min-height: 40vh;
    background-color: var(--black-color);
    padding: var(--gutter-medium) var(--gutter-huge) var(--fs-small);
    color: var(--white-color);
}
footer a {
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--fs-x-small);
}
a#more {
    font-size: var(--fs-x-small);
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
}
a#more:hover {
    transition: all 0.25s ease-in-out;
    color: var(--pink-color);
}
footer > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}
footer > div:first-child > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
img#blog_img {
    height: 400px;
}
img{    
    object-fit: cover;
    object-position: center;
}
img#blog_img:hover {
    filter: brightness(80%);
    transition: all 0.25s ease-in-out;
}
div.card-body {
    position: relative;
}
h5#title {
    background-color: var(--pink-color);
    padding: 20px;
    max-width: max-content;
    margin-top: -30px;
    font-size: 25px;
}
span.badge {
    background-color: var(--pink-color);
    color: var(--black-color);
}
ol.list-group {
    font-size: var(--fs-x-small);
}

ol.list-group a {
    color: var(--black-color);
    font-weight: 500;
}
ol.list-group a:hover {
    transition: all 0.1s ease-in-out;
    color: var(--pink-color);
}
div.div1 > div:hover {
    box-shadow: 0 0 10px var(--pink-color);
}
div.card-head {
    font-size: var(--fs-x-small);
    margin-bottom: 10px;
    text-align: center;
    color: var(--black-color);
    font-weight: bolder;
    text-shadow: 0px 0px 1px var(--pink-color);
}
p.lt_title {
    text-align: center;
    color: var(--black-color);
    font-style: italic;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
}
div.home_div{
    position: relative;
}
div#stick {
    position: sticky;
    top: 10px;
    left: 20px;
}
